.box {
    width: 400px;
    height: 500px;
    border: 1px solid #ccc;
    position: relative;
}
.big {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 385px;
    border: 1px solid #ccc;
    overflow: hidden;
    display: none;
    z-index: 10;
}
.mask {
    width: 175px;
    height: 175px;
    background: rgba(255, 255, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    display: none;
}
.small {
    position: relative;
}
.small img{
    width: 400px;
    height: 500px;
}
.box img {
    vertical-align: top;
}
#bigBox img {
    position: absolute;
}
#details *{
    margin: 0.3em 0;
}
#details p{
    font-size: 1.5em;
}
#details .introduction{
    font-size: 1em;
}
#details button{
    margin: 0.5em 1.5em;
}
#price{
    color: #f50057;
}