.box {
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    position: relative;
}
.big {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 385px;
    border: 1px solid #ccc;
    overflow: hidden;
    display: none;
    z-index: 10;
}
.mask {
    width: 175px;
    height: 175px;
    background: rgba(255, 255, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    display: none;
}
.small {
    position: relative;
}
.small img{
    width: 300px;
    height: 400px;
}
.box img {
    vertical-align: top;
}
#bigBox img {
    position: absolute;
}